@using DZ_Pogorelova.Models;
@model List<Employee>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ФИО сотрудника </td>
            <td>Должность</td>
        </tr>
</thead>
        <tr>
            @foreach (Employee item in Model)
            {

            <tr>
                <td>
                    @Html.ActionLink(@item.FirstName.ToString()+ " "+ @item.LastName.ToString() + " " + @item.MiddleName.ToString(),

                     "Details",
                     "Employee",
                    new { id = item.Id },
                    null)
                </td>

                <td>@item.Position </td>
            </tr>
            }

</table>